@import '../theme/variables';

.container {
  width: 90%;
  margin: 0 auto;

  @media screen and (min-width: 930px) {
    width: 900px;
  }
}

.fill-space {
  flex-grow: 1;
}

.danger-text {
  color: $danger;
}

.primary-text {
  color: $primary;
}
