:host {
  background-color: #fff;
  box-sizing: border-box;
  padding: 20px;
  display: block;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  position: fixed;
  align-items: center;
  top: 0;
  -webkit-box-shadow: 0px 4px 12px -2px rgba(0,0,0,0.52);
  -moz-box-shadow: 0px 4px 12px -2px rgba(0,0,0,0.52);
  box-shadow: 0px 4px 12px -2px rgba(0,0,0,0.52);

  @media screen and (min-width: 1160px) {
    height: 70px;
    padding: 0 30px;
    flex-direction: row;
  }
}

.logo {
  width: 160px;
  height: 40px;
  background-image: url('../../assets/logo.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.toolbar-item {
  margin-bottom: 10px;
  margin-right: 0;
  display: flex;
  align-items: center;


  @media screen and (min-width: 1160px) {
    margin-bottom: 0px;
    margin-right: 10px;
  }
}

.toolbar-item-loader {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;

  app-loader {
    position: absolute;
    left: -10px;
    top: -29px;
    transform: scale(.3);
  }
}

.nav-prev,
.nav-next {
  cursor: pointer;
}

.findReplaceForm {
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    text-align: center;

    .findReplaceForm-item {
      margin-bottom: 12px;
      &:last-child {
        margin-bottom: 0;
      }
    }

    .searchIcon {
      display: none;
    }

    @media screen and (min-width: 1160px) {
      flex-direction: row;
      font-size: 14px;

      .findReplaceForm-item {
        margin-bottom: 0;
        margin-right: 20px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    @media screen and (min-width: 880px) {
      .searchIcon {
        display: inline-block;
      }
    }
  }
}
