:host {
  margin: 100px auto;
  font-size: 16px;
  display: block;
  border: 1px solid rgb(233, 227, 227);
  padding: 30px;
  background-color: #fff;
  -webkit-box-shadow: -6px 2px 14px -3px rgba(0,0,0,0.37);
  -moz-box-shadow: -6px 2px 14px -3px rgba(0,0,0,0.37);
  box-shadow: -6px 2px 14px -3px rgba(0,0,0,0.37);
}
