<ng-container *ngIf="!document">
  <p>Sorry there was a problem loading this document</p>
</ng-container>



  <ng-container *ngFor="let contentObj of document">

    <!-- {{ document | json }} -->
    <p *ngIf="contentObj.type === 'paragraph'">
      <ng-container *ngFor="let content of contentObj.content">
        <ng-container *ngIf="content.type === 'span'">
          <span
          [ngClass]="{
            'font-bold': content.attrs.bold || content.attrs.textCSS && content.attrs.textCSS.fontWeight === 'bold' || false,
            'font-italic': content.attrs.italic || content.attrs.textCSS && content.attrs.textCSS.fontStyle === 'italic' || false,
            'primary-font-family': content.attrs.font === 'Times New Roman' || content.attrs && content.attrs.textCSS && content.attrs.textCSS.fontFamily === 'Times New Roman' || false,
            'text-underline': content.attrs.textCSS && content.attrs.textCSS.textDecoration && content.attrs.textCSS.textDecoration === 'underline' || false,
            'text-decoration-solid': content.attrs.textCSS && content.attrs.textCSS.textdecorationStyle && content.attrs.textCSS.textDecorationStyle === 'solid' || false }">
            <ng-container *ngFor="let item of content.content">
              <span appTextHighlight>{{ item.text }}</span>
            </ng-container>
          </span>
        </ng-container>
      </ng-container>
    </p>
  </ng-container>


<!-- <div [innerHTML]="highlightText()">

</div> -->
